@if (formState(); as formState) {
<ngf-form-example
  exampleName="Array Form"
  githubLinkOverride="array"
  [formState]="formState"
>
  This example shows arrays of form states can be created and used.
  <br />
  <br />
  <form>
    @for (control of formState.controls.options.controls; track $index) {
    <div class="option">
      <label>
        Option {{ $index }}
        <input type="checkbox" [ngrxFormControlState]="control" />
      </label>
    </div>
    }
  </form>
</ngf-form-example>
}
